<br>
<form (ngSubmit)="save()" class="was-validated">
    Customer ID:
    <input name="custid" [(ngModel)]="c.custid" required  class="form-control">
    <br>
    Customer Name: 
    <input name="name" [(ngModel)]="c.name" required class="form-control" pattern="[A-Z][a-z]">
    <br>
    Customer Phone No:
    <input name="mobile" [(ngModel)]="c.mobile" required class="form-control">
    <br>
    Customer Password:
    <input type="password" name="c.password" [(ngModel)]="c.password" required class="form-control">
    <br>
    Customer Email:
    <input name="email" [(ngModel)]="c.email" required class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
    <br><br>
    <a [routerLink]="['/login']">Back to Login</a>
</form>